python-openstackclient==3.19.0
python-designateclient==2.11.0
python-heatclient==1.17.0
python-neutronclient==6.12.0
python-glanceclient==2.16.0
python-swiftclient==3.8.0
python-octaviaclient==1.9.0
cmd2>0.8.3,<0.9.0