name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '0 0 * * 0'

jobs:
  build_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prepare
        id: prep
        run: |
          echo "::set-output name=tag::latest"
          echo ::set-output name=created::$(date -u +'%Y-%m-%dT%H:%M:%SZ')        

      - name: Lint Dockerfile
        uses: docker://replicated/dockerfilelint:latest
        with:
          args: Dockerfile

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.7.0

      - name: Login to DockerHub
        uses: docker/login-action@v2.0.0
        if: ${{ endsWith(github.ref, '/master') }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v3.0.0
        with:
          labels: |
            org.opencontainers.image.created=${{ steps.prep.outputs.created }}
            org.opencontainers.image.source=${{ github.repositoryUrl }}
            org.opencontainers.image.version=${{ steps.prep.outputs.tag }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.licenses=${{ github.event.repository.license.name }}
          tags: haxorof/openstack-cli:${{ steps.prep.outputs.tag }}
          push: ${{ endsWith(github.ref, '/master') }}

  update_docker_hub_description:
    needs: build_push
    runs-on: ubuntu-latest
    if: ${{ endsWith(github.ref, '/master') }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: haxorof/openstack-cli
